{{#each this}}
    {{#if DATAAVAILABLE}}
        <div class="card shadow border border-0 px-0 mt-4" style="height:220px;">
            <div class="row">

                <div class="col-md-3">
                    <img
                        src="./uploads{{DOCTOR.IMAGEPATH}}"
                        class="img-fluid rounded-start"
                        alt="Card Image"
                        style="width: 150px; height: 220px; object-fit: cover;"
                    />
                </div>

                <div class="col-md-9">
                    <div class="card-body">

                        <div class="row">
                            <div class="col d-flex justify-content-between align-items-center">

                                {{#if (eq APPOINTMENTSTATUS "Confirmed")}}
                                    <p
                                        class="text-success p-1 rounded-pill border border-success"
                                        style="font-size: 11px;"
                                    >
                                        Appointment Confirmed
                                    </p>
                                    <p
                                        title="Cancel Appointment"
                                        style="cursor: pointer;"
                                        data-bs-toggle="modal"
                                        data-bs-target="#cancel_appointment_{{APPOINTMENTID}}"
                                    >
                                        <svg
                                            fill="#40C057"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 50 50"
                                            width="25px"
                                            height="25px"
                                        ><path
                                                d="M 25 2 C 12.326643 2 2 12.326643 2 25 C 2 37.673357 12.326643 48 25 48 C 37.673357 48 48 37.673357 48 25 C 48 12.326643 37.673357 2 25 2 z M 25 4 C 36.588643 4 46 13.411357 46 25 C 46 36.588643 36.588643 46 25 46 C 13.411357 46 4 36.588643 4 25 C 4 13.411357 13.411357 4 25 4 z M 25 6 C 20.523675 6 16.401638 7.5702753 13.152344 10.169922 L 12.28125 10.867188 L 39.132812 37.71875 L 39.830078 36.847656 C 42.429725 33.598362 44 29.476325 44 25 C 44 14.532599 35.467401 6 25 6 z M 25 8 C 34.382599 8 42 15.617401 42 25 C 42 28.596865 40.748192 31.842246 38.833984 34.591797 L 15.408203 11.166016 C 18.157754 9.2518073 21.403135 8 25 8 z M 10.867188 12.28125 L 10.169922 13.152344 C 7.5702753 16.401638 6 20.523675 6 25 C 6 35.467401 14.532599 44 25 44 C 29.476325 44 33.598362 42.429725 36.847656 39.830078 L 37.71875 39.132812 L 10.867188 12.28125 z M 11.166016 15.408203 L 34.591797 38.833984 C 31.842246 40.748192 28.596865 42 25 42 C 15.617401 42 8 34.382599 8 25 C 8 21.403135 9.2518073 18.157754 11.166016 15.408203 z"
                                            /></svg>

                                    </p>
                                {{else if (eq APPOINTMENTSTATUS "Cancelled")}}
                                    <p
                                        class="text-danger p-1 rounded-pill border border-danger"
                                        style="font-size: 11px;"
                                    >
                                        Appointment Cancelled
                                    </p>
                                    <p></p>
                                {{else if (eq APPOINTMENTSTATUS "Pending")}}
                                    <p
                                        class="text-warning p-1 rounded-pill border border-warning"
                                        style="font-size: 11px;"
                                    >
                                        Appointment Approval Pending
                                    </p>
                                    <div class="d-flex">
                                        <p
                                            class="me-2"
                                            title="Reschedule Appointment"
                                            style="cursor: pointer;"
                                            data-bs-toggle="modal"
                                            data-bs-target="#ResheduleModal"
                                        >
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="30"
                                                height="30"
                                                viewBox="2 2 30 30"
                                                style="fill:#40C057;"
                                            >
                                                <path
                                                    d="M 16 4 C 9.382813 4 4 9.382813 4 16 C 4 22.617188 9.382813 28 16 28 C 22.617188 28 28 22.617188 28 16 C 28 9.382813 22.617188 4 16 4 Z M 14.96875 6.0625 C 14.980469 6.0625 14.988281 6.0625 15 6.0625 C 15.035156 6.585938 15.46875 7 16 7 C 16.53125 7 16.964844 6.585938 17 6.0625 C 21.738281 6.527344 25.472656 10.261719 25.9375 15 C 25.414063 15.035156 25 15.46875 25 16 C 25 16.53125 25.414063 16.964844 25.9375 17 C 25.472656 21.738281 21.738281 25.472656 17 25.9375 C 16.964844 25.414063 16.53125 25 16 25 C 15.46875 25 15.035156 25.414063 15 25.9375 C 10.261719 25.472656 6.527344 21.738281 6.0625 17 C 6.585938 16.964844 7 16.53125 7 16 C 7 15.46875 6.585938 15.035156 6.0625 15 C 6.527344 10.269531 10.246094 6.539063 14.96875 6.0625 Z M 15 9 L 15 16.40625 L 15.28125 16.71875 L 19.28125 20.71875 L 20.71875 19.28125 L 17 15.5625 L 17 9 Z"
                                                ></path>
                                            </svg>
                                        </p>
                                        <p
                                            title="Cancel Appointment"
                                            style="cursor: pointer;"
                                            data-bs-toggle="modal"
                                            data-bs-target="#cancel_appointment_{{APPOINTMENTID}}"
                                        >
                                            <svg
                                                fill="#40C057"
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 50 50"
                                                width="25"
                                                height="25"
                                            >
                                                <path
                                                    d="M 25 2 C 12.326643 2 2 12.326643 2 25 C 2 37.673357 12.326643 48 25 48 C 37.673357 48 48 37.673357 48 25 C 48 12.326643 37.673357 2 25 2 z M 25 4 C 36.588643 4 46 13.411357 46 25 C 46 36.588643 36.588643 46 25 46 C 13.411357 46 4 36.588643 4 25 C 4 13.411357 13.411357 4 25 4 z M 25 6 C 20.523675 6 16.401638 7.5702753 13.152344 10.169922 L 12.28125 10.867188 L 39.132812 37.71875 L 39.830078 36.847656 C 42.429725 33.598362 44 29.476325 44 25 C 44 14.532599 35.467401 6 25 6 z M 25 8 C 34.382599 8 42 15.617401 42 25 C 42 28.596865 40.748192 31.842246 38.833984 34.591797 L 15.408203 11.166016 C 18.157754 9.2518073 21.403135 8 25 8 z M 10.867188 12.28125 L 10.169922 13.152344 C 7.5702753 16.401638 6 20.523675 6 25 C 6 35.467401 14.532599 44 25 44 C 29.476325 44 33.598362 42.429725 36.847656 39.830078 L 37.71875 39.132812 L 10.867188 12.28125 z M 11.166016 15.408203 L 34.591797 38.833984 C 31.842246 40.748192 28.596865 42 25 42 C 15.617401 42 8 34.382599 8 25 C 8 21.403135 9.2518073 18.157754 11.166016 15.408203 z"
                                                ></path>
                                            </svg>
                                        </p>
                                    </div>

                                {{else if (eq APPOINTMENTSTATUS "NoShow")}}
                                    <p class="text-dark p-1 rounded-pill border border-dark" style="font-size: 11px;">
                                        Appointment Was Not Attended
                                    </p>
                                    <p
                                        title="Reschedule Appointment"
                                        style="cursor: pointer;"
                                        data-bs-toggle="modal"
                                        data-bs-target="#ResheduleModal"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            x="0px"
                                            y="0px"
                                            width="30"
                                            height="30"
                                            viewBox="0 0 32 32"
                                            style="fill:#40C057;"
                                        >
                                            <path
                                                d="M 16 4 C 9.382813 4 4 9.382813 4 16 C 4 22.617188 9.382813 28 16 28 C 22.617188 28 28 22.617188 28 16 C 28 9.382813 22.617188 4 16 4 Z M 14.96875 6.0625 C 14.980469 6.0625 14.988281 6.0625 15 6.0625 C 15.035156 6.585938 15.46875 7 16 7 C 16.53125 7 16.964844 6.585938 17 6.0625 C 21.738281 6.527344 25.472656 10.261719 25.9375 15 C 25.414063 15.035156 25 15.46875 25 16 C 25 16.53125 25.414063 16.964844 25.9375 17 C 25.472656 21.738281 21.738281 25.472656 17 25.9375 C 16.964844 25.414063 16.53125 25 16 25 C 15.46875 25 15.035156 25.414063 15 25.9375 C 10.261719 25.472656 6.527344 21.738281 6.0625 17 C 6.585938 16.964844 7 16.53125 7 16 C 7 15.46875 6.585938 15.035156 6.0625 15 C 6.527344 10.269531 10.246094 6.539063 14.96875 6.0625 Z M 15 9 L 15 16.40625 L 15.28125 16.71875 L 19.28125 20.71875 L 20.71875 19.28125 L 17 15.5625 L 17 9 Z"
                                            ></path>
                                        </svg>
                                    </p>
                                {{else if (eq APPOINTMENTSTATUS "Completed")}}
                                    <p
                                        class="text-primary p-1 rounded-pill border border-primary"
                                        style="font-size: 11px;"
                                    >
                                        Appointment Completed
                                    </p>
                                    <p title="Download Prescription">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            x="0px"
                                            y="0px"
                                            width="30"
                                            height="30"
                                            viewBox="0,0,300,150"
                                            style="fill:#40C057;"
                                        >
                                            <g
                                                fill="#40c057"
                                                fill-rule="nonzero"
                                                stroke="none"
                                                stroke-width="1"
                                                stroke-linecap="butt"
                                                stroke-linejoin="miter"
                                                stroke-miterlimit="10"
                                                stroke-dasharray=""
                                                stroke-dashoffset="0"
                                                font-family="none"
                                                font-weight="none"
                                                font-size="none"
                                                text-anchor="none"
                                                style="mix-blend-mode: normal"
                                            ><g transform="scale(8,8)"><path
                                                        d="M16,5c-4.11719,0 -7.35937,3.12891 -7.8125,7.125c-1.79297,0.30078 -3.24609,1.51953 -3.84375,3.21875c-2.46094,0.71094 -4.34375,2.90625 -4.34375,5.65625c0,3.32422 2.67578,6 6,6h20c3.32422,0 6,-2.67578 6,-6c0,-1.76172 -0.85547,-3.33594 -2.09375,-4.4375c-0.23047,-3.51562 -3.03516,-6.31641 -6.5625,-6.5c-1.20312,-2.92969 -3.96484,-5.0625 -7.34375,-5.0625zM16,7c2.76172,0 4.97266,1.76953 5.75,4.28125l0.21875,0.71875h1.03125c2.75391,0 5,2.24609 5,5v0.5l0.40625,0.3125c0.94531,0.70703 1.59375,1.92188 1.59375,3.1875c0,2.27734 -1.72266,4 -4,4h-20c-2.27734,0 -4,-1.72266 -4,-4c0,-2.01953 1.44922,-3.58594 3.28125,-3.90625l0.65625,-0.125l0.125,-0.65625c0.30078,-1.34766 1.49219,-2.3125 2.9375,-2.3125h1v-1c0,-3.37109 2.62891,-6 6,-6zM15,12v6.5625l-2.28125,-2.28125l-1.4375,1.4375l4,4l0.71875,0.6875l0.71875,-0.6875l4,-4l-1.4375,-1.4375l-2.28125,2.28125v-6.5625z"
                                                    ></path></g></g>
                                        </svg>
                                    </p>
                                {{/if}}
                            </div>
                        </div>

                        <h5 class="card-title"></h5>
                        {{! <p class="card-text">Your upcoming appointment is confirmed! We're looking forward to welcoming you.
                        Please check the details and feel free to reach out if you have any questions.</p> }}
                        <div class="row">

                            <div class="col">
                                <h6 style="color: #4fa284;">Doctor Information:</h6>
                                <p class="card-text">
                                    Name:
                                    {{DOCTOR.FULLNAME}}
                                    <br />
                                    Qualification:
                                    {{DOCTOR.QUALIFICATION}}
                                    <br />
                                    Email:
                                    <a href="mailto:{{DOCTOR.EMAIL}}">{{DOCTOR.EMAIL}}</a>
                                    <br />
                                    Phone:
                                    <a href="tel:{{DOCTOR.PHONE}}">{{DOCTOR.PHONE}}</a>
                                    <br />
                                </p>
                            </div>

                            <div class="col">
                                <h6 style="color: #4fa284;">Appointment Information:</h6>
                                <p class="card-text">
                                    Number:
                                    {{APPOINTMENTID}}
                                    <br />
                                    Date:
                                    {{DATE}}
                                    <br />
                                    Time:
                                    {{TIME}}
                                    <br />
                                </p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        {{! Cancel Appointment }}
        <div
            class="modal fade"
            id="cancel_appointment_{{APPOINTMENTID}}"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="cancelAppointmentLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content border-0">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to cancel your appointment <strong>#{{APPOINTMENTID}}</strong>?</p>
                    </div>
                    <div class="modal-footer border-0">
                        <button
                            id="confirmedCancel_{{APPOINTMENTID}}"
                            class="btn shadow me-2"
                            style="background-color:#fdfdfd; color:#4fa284"
                            data-bs-dismiss="modal"
                        >
                            Yes, Cancel Appointment
                        </button>
                        <button
                            type="button"
                            class="btn shadow"
                            data-bs-dismiss="modal"
                            style="background-color:#fdfdfd; color:#4fa284"
                        >
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {{!-- {{! Reschedule Appointment }}
        <div
            class="modal fade"
            id="reshedule_appointment_{{APPOINTMENTID}}"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="cancelAppointmentLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content border-0">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Reshedule Appointment</h5>
                            <p class="text-center small">Select date and time to Reshedule Appointments</p>
                            <div id="messageDivReschedule" class="alert"></div>
                        </div>
                        <form class="row g-3" novalidate>

                            <div class="col-12">
                                <label for="dateTimeInput" class="form-label">Date and Time</label>
                                <input
                                    type="date"
                                    name="date"
                                    class="form-control"
                                    id="dateTimeInputReschedule"
                                    required
                                />
                                <div class="invalid-feedback"></div>
                            </div>

                            <div class="col-12">
                                <input
                                    type="text"
                                    name="text"
                                    class="form-control d-none"
                                    id="resheduleAppointmentAppontment"
                                    required
                                />
                            </div>

                            <div class="col-12">
                                <input
                                    type="text"
                                    name="text"
                                    class="form-control d-none"
                                    id="resheduleAppointmentDoctor"
                                    required
                                />
                            </div>

                            <div class="col-12" id="AvailableAppoitmentstoReshedule"></div>

                        </form>
                    </div>
                    <div class="modal-footer border-0">
                        <button
                            id="reschedule_{{APPOINTMENTID}}"
                            class="btn shadow me-2"
                            style="background-color:#fdfdfd; color:#4fa284"
                            data-bs-dismiss="modal"
                        >
                            Reshedule Appointment
                        </button>
                        <button
                            type="button"
                            class="btn shadow"
                            data-bs-dismiss="modal"
                            style="background-color:#fdfdfd; color:#4fa284"
                        >
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div> --}}

    {{else}}

        <div class="card shadow border border-0 px-0 mt-5">

            <div class="row">
                <div class="col">
                    {{#if (eq APPOINTMENTSTATUS "")}}
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex justify-content-between align-items-center">
                                    <p style="color: #4fa284;">You have no upcoming appointments</p>
                                    <p><a href="./index.cfm?action=landing">Book an appointment
                                            <span>&#10151;</span></a></p>
                                </div>
                            </div>
                            <h5 class="card-title"></h5>
                            <p class="card-text">Ready to schedule your next visit? Book an appointment today!</p>
                        </div>
                    {{else}}
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex justify-content-between align-items-center">
                                    <p style="color: #4fa284;">You have no active {{APPOINTMENTSTATUS}} appointments</p>
                                    <p><a href="./index.cfm?action=landing">Book an appointment
                                            <span>&#10151;</span></a></p>
                                </div>
                            </div>
                            <h5 class="card-title"></h5>
                            <p class="card-text">Change the status in the filter to see other appointments!</p>
                        </div>
                    {{/if}}
                </div>
            </div>

        </div>

    {{/if}}
{{/each}}