<div class="row">
    {{#each this}}
        <div class="mt-3">
            <div class="card shadow border border-0">
                <div class="card-body">
                    <div class="mt-4" id="displayCategoryInfo_">
                        <p class="card-text">
                            <b>Code:</b>
                            {{code}}
                            <br />
                            <b>Name:</b>
                            {{name}}
                        </p>

                        <div id="messageDivRemoveCategory_{{@key}}" class="alert mt-3 shadow d-none">
                            <p>Do you want to remove this category?</p>
                            <button
                                class="btn shadow btn-sm"
                                type="button"
                                id="confirmRemoveCategory_{{@key}}"
                                style="background-color:#fdfdfd; color:#4fa284"
                            >Yes</button>
                            <button
                                class="btn shadow btn-sm"
                                type="button"
                                id="cancelRemoveCategory_{{@key}}"
                                style="background-color:#fdfdfd; color:#4fa284"
                            >No</button>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button
                                class="btn shadow btn-sm"
                                type="button"
                                id=""
                                style="background-color:#fdfdfd; color:#4fa284"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModalEditCategory_{{@key}}"
                            >Update Information</button>
                            <button
                                class="btn shadow btn-sm"
                                type="button"
                                id="confirmedRemoveCategory_{{@key}}"
                                style="background-color:#fdfdfd; color:#4fa284"
                            >Remove Category</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="modal fade"
            id="exampleModalEditCategory_{{@key}}"
            tabindex="-1"
            data-bs-backdrop="static"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Update Category Information</h5>
                            <p class="text-center small">Please fill the details below to update category information.</p>
                            <div id="messageDivUpdateCategoryModal_{{@key}}" class="alert"></div>
                        </div>

                        <form class="row g-3" novalidate>
                            <div class="col-12">
                                <label for="yourCodeCategory_{{@key}}" class="form-label">Code</label>
                                <input
                                    type="text"
                                    name="code"
                                    value="{{code}}"
                                    class="form-control"
                                    id="yourCodeCategory_{{@key}}"
                                    required
                                />
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-12">
                                <label for="yourNameCategory_{{@key}}" class="form-label">Name</label>
                                <input
                                    type="text"
                                    name="name"
                                    value="{{name}}"
                                    class="form-control"
                                    id="yourNameCategory_{{@key}}"
                                    required
                                />
                                <div class="invalid-feedback"></div>
                            </div>
                        </form>
                        <div class="modal-footer border-0">
                            <button
                                id="submitBtnUpdateCategory_{{@key}}"
                                class="btn shadow"
                                style="background-color:#fdfdfd; color:#4fa284"
                            >
                                Update Category Information
                            </button>
                            <button
                                type="button"
                                class="btn shadow"
                                data-bs-dismiss="modal"
                                style="background-color:#fdfdfd; color:#4fa284"
                            >Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {{/each}}
</div>