<div class="container row">
    {{#each this}}

        <div class="card shadow border border-0 px-0 mt-5" style="height:230px;">
            <div class="row">
                <div class="col-md-3">
                    <img
                        src="./uploads{{IMAGEPATH}}"
                        class="img-fluid rounded-start"
                        alt="Doctor Image"
                        style="width: 200px; height: 230px; object-fit: cover;"
                    />
                </div>

                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #4fa284;">{{FULLNAME}}</h5>
                        <div class="row">
                            <div class="col">
                                <h6 style="color: #4fa284;">Doctor Information:</h6>
                                <p class="card-text">
                                    Qualification:
                                    {{QUALIFICATION}}<br />
                                    Specialization:
                                    {{CATEGORY}}<br />
                                    Email:
                                    <a href="mailto:{{EMAIL}}">{{EMAIL}}</a><br />
                                    Phone:
                                    <a href="tel:{{PHONE}}">{{PHONE}}</a><br />
                                </p>
                            </div>
                        </div>
                        {{!-- <div id="messageDivRemoveDoc_{{@key}}" class="alert mt-3 shadow d-none">
                            <p>Do you want to remove doctor from Aarogya?</p>
                            <button
                                class="btn shadow btn-sm"
                                type="button"
                                id="confirmRemoveDoc_{{@key}}"
                                style="background-color:#fdfdfd; color:#4fa284"
                            >Yes</button>
                            <button
                                class="btn shadow btn-sm"
                                type="button"
                                id="cancelRemoveDoc_{{@key}}"
                                style="background-color:#fdfdfd; color:#4fa284"
                            >No</button>
                        </div> --}}

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button
                                class="btn shadow btn-sm"
                                type="button"
                                id=""
                                style="background-color:#fdfdfd; color:#4fa284"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModalEditDoctor_{{@key}}"
                            >Update Information</button>
                            <button
                                class="btn shadow btn-sm"
                                type="button"
                                id="confirmedRemoveDoc_{{@key}}"
                                style="background-color:#fdfdfd; color:#4fa284"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModalRemoveDoc_{{@key}}"
                            >Remove Doctor</button>
                            <button
                                class="btn shadow btn-sm"
                                type="button"
                                id="confirmedRemoveDoc_{{@key}}"
                                style="background-color:#fdfdfd; color:#4fa284"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModalSetUnvailabilityDoc_{{@key}}"
                            >Set Unavailability</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div
            class="modal fade"
            id="exampleModalRemoveDoc_{{@key}}"
            tabindex="-1"
            data-bs-backdrop="static"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <p>Do you want to remove doctor {{FULLNAME}} from Arogya?</p>
                        <div class="modal-footer border-0">
                            <button
                                id="confirmRemoveDoc_{{@key}}"
                                class="btn shadow"
                                style="background-color:#fdfdfd; color:#4fa284"
                            >
                                Remove Doctor
                            </button>
                            <button
                                type="button"
                                class="btn shadow"
                                data-bs-dismiss="modal"
                                style="background-color:#fdfdfd; color:#4fa284"
                            >Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="modal fade"
            id="exampleModalSetUnvailabilityDoc_{{@key}}"
            tabindex="-1"
            data-bs-backdrop="static"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Add Doctor Unavailability</h5>
                            <p class="text-center small">Please fill the details below to Ensure doctor Unavailability
                                is reached to patients.</p>
                            <div id="messageDivSetUnavailabilityDocMadal_{{@key}}" class="alert"></div>
                        </div>
                        <form class="row g-3" novalidate>

                            <div class="col-12">
                                <label for="SetUnavailabilityDocDate_{{@key}}" class="form-label">Date Of Unavailability</label>
                                <input
                                    type="date"
                                    name="SetUnavailabilityDocDate_{{@key}}"
                                    class="form-control"
                                    id="SetUnavailabilityDocDate_{{@key}}"
                                    required
                                />
                                <div class="invalid-feedback"></div>
                            </div>

                            <div class="col-12">
                                <label for="SetUnavailabilityDocStartTime_{{@key}}" class="form-label">Select First
                                    Unavailable Shedule time of the day</label>
                                <div class="input-group has-validation">
                                    <select
                                        name="SetUnavailabilityDocStartTime_{{@key}}"
                                        class="form-control"
                                        id="SetUnavailabilityDocStartTime_{{@key}}"
                                        required
                                    >
                                        <option value="1" selected>09:00 AM</option>
                                        <option value="2">10:00 AM</option>
                                        <option value="3">11:00 AM</option>
                                        <option value="4">12:00 PM</option>
                                        <option value="5">02:00 PM</option>
                                        <option value="6">03:00 PM</option>
                                        <option value="7">04:00 PM</option>
                                        <option value="8">05:00 PM</option>
                                        <option value="9">06:00 PM</option>
                                        <option value="10">07:00 PM</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="SetUnavailabilityDocEndTime_{{@key}}" class="form-label">Select last
                                    Unavailable Shedule time of the day</label>
                                <div class="input-group has-validation">
                                    <select
                                        name="SetUnavailabilityDocEndTime_{{@key}}"
                                        class="form-control"
                                        id="SetUnavailabilityDocEndTime_{{@key}}"
                                        required
                                    >
                                        {{! <option value="1" selected>09:00 AM</option> }}
                                        <option value="2" selected>10:00 AM</option>
                                        <option value="3">11:00 AM</option>
                                        <option value="4">12:00 PM</option>
                                        <option value="5">02:00 PM</option>
                                        <option value="6">03:00 PM</option>
                                        <option value="7">04:00 PM</option>
                                        <option value="8">05:00 PM</option>
                                        <option value="9">06:00 PM</option>
                                        <option value="10">07:00 PM</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>

                        </form>
                        <div class="modal-footer border-0">
                            <button
                                id="confirmSetUnavailabilityDoc_{{@key}}"
                                class="btn shadow"
                                style="background-color:#fdfdfd; color:#4fa284"
                            >
                                Add Unavailability
                            </button>
                            <button
                                type="button"
                                class="btn shadow"
                                data-bs-dismiss="modal"
                                style="background-color:#fdfdfd; color:#4fa284"
                            >Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="modal fade"
            id="exampleModalEditDoctor_{{@key}}"
            tabindex="-1"
            data-bs-backdrop="static"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Update Doctor information</h5>
                            <p class="text-center small">Please fill the details below to update doctor information.</p>
                            <div id="messageDivUpdateDoctorMadal_{{@key}}" class="alert"></div>
                        </div>

                        <form class="row g-3" novalidate>

                            <div class="col-12">
                                <label for="yourNameDoctor_{{@key}}" class="form-label">Full Name</label>
                                <input
                                    type="text"
                                    name="name"
                                    value="{{FULLNAME}}"
                                    class="form-control"
                                    id="yourNameDoctor_{{@key}}"
                                    required
                                />
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-12">
                                <label for="yourEmailDoctor_{{@key}}" class="form-label">Email Address</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                    <input
                                        type="email"
                                        name="email"
                                        value="{{EMAIL}}"
                                        class="form-control"
                                        id="yourEmailDoctor_{{@key}}"
                                        required
                                    />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="yourPhoneNumberDoctor_{{@key}}" class="form-label">Phone Number</label>
                                <div class="input-group has-validation">
                                    <input
                                        type="tel"
                                        name="phoneNumber"
                                        class="form-control"
                                        value="{{PHONE}}"
                                        id="yourPhoneNumberDoctor_{{@key}}"
                                        required
                                    />
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="yourQualificationDoctor_{{@key}}" class="form-label">Qualification</label>
                                <input
                                    type="text"
                                    name="specialization"
                                    class="form-control"
                                    value="{{QUALIFICATION}}"
                                    id="yourQualificationDoctor_{{@key}}"
                                    required
                                />
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-12">
                                <label for="fileUploadUpdateDoctor_{{@key}}" class="form-label">Choose Doctor image to
                                    upload</label>
                                <input
                                    type="file"
                                    class="form-control"
                                    id="fileUploadUpdateDoctor_{{@key}}"
                                    name="fileUpload"
                                    required
                                />
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-12" id="categoryDropDownNewDoc"></div>
                        </form>
                        <div class="modal-footer border-0">
                            <button
                                id="submitBtnUpdateDoctor_{{@key}}"
                                class="btn shadow"
                                style="background-color:#fdfdfd; color:#4fa284"
                            >
                                Update Doctor information
                            </button>
                            <button
                                type="button"
                                class="btn shadow"
                                data-bs-dismiss="modal"
                                style="background-color:#fdfdfd; color:#4fa284"
                            >Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {{/each}}
</div>